@mixin font($fz: 16px, $lh: 20px, $color: #000000, $tt: none){
	font-size: $fz;
	line-height: $lh;
	color: $color;
	text-transform: $tt;
}

@mixin pseudoCenter{
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}