%ProximaNovaLight{
	font-family: "Proxima Nova Light", sans-serif;
}

%ProximaNovaRegular{
	font-family: "Proxima Nova Regular", sans-serif;
}

%ProximaNovaSemibold{
	font-family: "Proxima Nova Semibold", sans-serif;
}

%ProximaNovaBold{
	font-family: "Proxima Nova Bold", sans-serif;
}